<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Dominic Code</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToReactive()" routerLinkActive="active"
            >contact-reactive</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-reactive"
            routerLinkActive="active"
            >contact-reactive</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="goToTemplate()" routerLinkActive="active"
            >Contact-template</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact-template"
            routerLinkActive="active"
            >Contact-template</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
