<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<app-spinner></app-spinner>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-contact></app-contact>
      </div>
      <div class="col-md-6">
        <app-reactive-contact></app-reactive-contact>
      </div>
    </div>
  </div> -->
